################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DashboardApplication/obj
/DashboardApplication/bin
/DashboardApplication/wwwroot
/DashboardApplication/node_modules
/DashboardApplication/ClientApp/**/*.js
/DashboardApplication/ClientApp/**/*.map
/Dashboard.Database/bin
/Dashboard.Database/obj
*.jfm
*.dbmdl
*.user
!karma.conf.js